@model IEnumerable<CadastroAPI.Models.Models.Pessoa>

@{
    ViewData["Title"] = "Listagem de Pessoas";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-primary" asp-controller="Pessoa" asp-action="Create">+ Cadastro</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pessoa in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Pessoa" asp-action="Edit" asp-route-id="@pessoa.Id">
                        @pessoa.Nome
                    </a>
                </td>
                <td>@pessoa.Telefone</td>
                <td>@pessoa.Cpf</td>
                <td>
                    <a class="btn btn-danger" asp-controller="Pessoa" asp-action="Delete" asp-route-id="@pessoa.Id">X</a>
                </td>
            </tr>
        }
    </tbody>
</table>
